@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
    font-family: 'PixelEmulator';
    src: url('/fonts/PixelEmulator.ttf') format('truetype'); /* Update the path as necessary */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes textCrawl {
  from {
    transform: translateY(20vh); /* Start off the bottom of the screen */
  }
  to {
    transform: translateY(-100vh); /* Move 3 times the height of the screen */
  }
}

.crawl-text {
  display: flex; /* Use Flexbox */
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */

  animation: textCrawl 25s linear infinite;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%); /* Center the starting position */

  white-space: pre-wrap; /* Ensures text formatting is maintained */
  overflow: hidden;
  max-width: 60vw; /* Responsive width */
  text-align: center; /* Align text horizontally */
}
